*{
    margin: 0%;
    padding: 0%;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffec5fde;
}

.logo{
    display: flex;
    width: 7rem;
    margin: 1rem;
}

.lista{
    list-style: none;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: end;
    
}
.opcionNav{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    max-width: 190px;
    margin-bottom: 10px;
}
.lista a{
    text-decoration: none;
    color: rgb(160, 44, 44);
    font-size: 1.15rem;
    font-weight: bold;
}

.lista a:hover{
    color: rgb(255, 0, 0);
}

.liCart{
    max-width: 120px;
    margin: 1rem;
}

.imgNav{
    width: 25%;
}